body {
    font-family: sans-serif;
}

.nav-section{
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em .5em 1em 1em;
    box-shadow: 1px 1px 2px var(--border-color);
    width: 100%;
}

.nav-menu{
    margin-right: 1em;
}

.nav--align-start {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav--align-end {
    margin-left: auto;
    align-items: flex-end;
}

.nav--align-end i{
    margin-right: 1em;
    color: black;
}

.nav--align-end i:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.nav-logo{
    margin-right: 1.5em;
    font-size: 2rem;
    color: var(--primary-color);
}

.nav-logo-sub{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.705);
}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-right: 2em;
}

a:hover{
    cursor: pointer;
    color: var(--primary-color);
}



.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    text-align: center;   
}

.head{
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Bitter', serif;
}

.subhead{
    text-align: center;
    margin: auto;
    max-width: 70rem;
    padding: 1em 0 1em 0;
    font-size: 1.5rem;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn{
    color: black;
    text-decoration: none;
    padding: .7em;
    margin-right: 1em;
    border-radius: 50px;
    font-size: 1.4rem;
}

.btn:hover{
    text-decoration: none;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary:hover{
    color: black;
    background-color: transparent;
    border: 1.8px solid var(--primary-color);
}

.btn-secondary{
    border: 1.8px solid var(--primary-color);
}

.btn-secondary:hover{
    color: white;
    background-color: var(--primary-color);
}

.sub-title-gutter{
    color: var(--default-color);
    font-weight: bold;
}