*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#0cf4c4;
    --primary-color-light:#0cf4c67a;
    --secondary-color:#1cdcf9;
    --text-color:white;
    --text-black:black;
    --shadow-color:rgba(128, 128, 128, 0.335);
    --light-border-color: rgba(221, 213, 213, 0.288);
    --border-color:rgba(161, 154, 154, 0.383);
    --hover-color:rgba(212, 203, 203, 0.486);
    --background-color: rgba(224, 220, 220, 0.294);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0cf4c4; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0cf4c67a; 
  }