* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0c8cf4;
  --primary-color-light:#0c65f4d3;
  --secondary-color: #d04ee7e0;
  --text-color: #ffffff;
  --text-black:#000000;
  --text-grey:#808080;
  --shadow-color: #0000005b;
  --border-color: #a19a9a62;
  --light-border-color: #ddd5d549;
  --hover-color: #d4cbcb7c;
  --background-color: #e0dcdc4b;
  --overlay-card-background-color:#393839;
  --online-badge: #008000;
  --offline-badge: #808080;
  --danger-color:#ff0000;
  --ideal-badge: #ffff00;
  --success: #2cf0328f;
  --danger: #f33228b9;
  --warning: #ee9a1cd0;
  --disable-button-color:#383636bd;
  --toast-color: #161616d2;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background-color);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}
