* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0cabf4;
  --secondary-color: #d04ee7e0;
  --text-color: white;
  --text-black:black;
  --shadow-color: rgba(128, 128, 128, 0.335);
  --border-color: rgba(161, 154, 154, 0.383);
  --light-border-color: rgba(221, 213, 213, 0.288);
  --hover-color: rgba(212, 203, 203, 0.486);
  --background-color: rgba(224, 220, 220, 0.294);
  --online-badge: green;
  --offline-badge: grey;
  --danger-color:red;
  --ideal-badge: yellow;
  --success: #2cf0328f;
  --danger: #f33228b9;
  --warning: #ee9a1cd0;
  --disable-button-color:rgba(56, 54, 54, 0.74);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0cabf4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0cf4c67a;
}