<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pallet UI | Avatar</title>

    <!-- Favicon -->
    <link rel="icon" href="/favicon.png">

    <!-- font family link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap" rel="stylesheet">

    <!-- CSS links -->
    <link rel="stylesheet" href="/css/component.css">
</head>

<body>
    <!-- <div class="container"> -->
    <div class="avatar-container">
        <div class="avatar avatar-xl">
            <img src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                alt="" class="avatar-image">
        </div>

        <div class="avatar avatar-lg">
            <img src="https://images.unsplash.com/photo-1643224981923-b63f2417d220?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=424&q=80"
                alt="" class="avatar-image">
        </div>

        <div class="avatar avatar-md">
            <img src="https://images.unsplash.com/photo-1606663889134-b1dedb5ed8b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt="" class="avatar-image">
        </div>

        <div class="avatar avatar-sm">
            <img src="https://images.unsplash.com/photo-1635586409095-b5d87cebe12b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt="" class="avatar-image">
        </div>
        <!-- </div> -->
    </div>
</body>

</html>