*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.avatar-container{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.avatar{
    margin: .5rem;
}

.round-avatar-image{
    border-radius: 50%;
    cursor: pointer;
}

.square-avatar-image{
    cursor: pointer;
}

.avatar-xl{
    width: 7rem;
    height: 8rem;
}

.avatar-lg{
    width: 5rem;
    height: 6rem;
}

.avatar-md{
    width: 3rem;
    height: 4rem;
}

.avatar-sm{
    width: 1.5rem;
    height: 2rem;
}