.avatar-container {
    display: flex;
    border: 1px solid var(--text-black);
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.avatar {
    margin: .5rem;
}

.round-avatar-image {
    border-radius: 50%;
    cursor: pointer;
}

.square-avatar-image {
    cursor: pointer;
}

.avatar-xl {
    width: 8rem;
    height: 8rem;
}

.avatar-lg {
    width: 6rem;
    height: 6rem;
}

.avatar-md {
    width: 4rem;
    height: 4rem;
}

.avatar-sm {
    width: 3.5rem;
    height: 3.5rem;
}