* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

:root{
    --primary-color:#0cf4c4;
    --primary-color-light:#0cf4c67a;
    --secondary-color:#1cdcf9;
    --text-color:white;
    --shadow-color:rgba(128, 128, 128, 0.335);
    --border-color:rgba(161, 154, 154, 0.383);
}

body {
    font-family: sans-serif;
}

.nav-section{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 1em .5em 1em 1em;
    box-shadow: 1px 1px 2px var(--border-color);
    width: 100%;
}

.nav-menu{
    margin-right: 1em;
}

.nav--align-start {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav--align-end {
    margin-left: auto;
    align-items: flex-end;
}

.nav--align-end i{
    margin-right: 1em;
}

.nav--align-end i:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.nav-logo{
    margin-right: 1.5em;
    font-size: 2rem;
    color: var(--primary-color);
}

.nav-logo-sub{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.705);
}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-right: 2em;
}

a:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.nav--align-start {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.nav--align-end {
    margin-left: auto;
    align-items: flex-end;
}

.main-section{
    margin-top:8rem ;
    text-align: center;   
}

.head{
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Bitter', serif;
}

.subhead{
    text-align: center;
    margin: auto;
    max-width: 70rem;
    padding: 3rem 0 2rem 0;
    font-size: 2rem;
}

.btn{
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin-top: 2rem;
    margin: 9px;
    border-radius: 30px;
    font-size: 1.5rem;
}

.btn:hover{
    text-decoration: none;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary:hover{
    color: white;
    filter: brightness(95%);
}

.btn-secondary{
    border: 1.8px solid var(--primary-color);
}

.btn-secondary:hover{
    color: white;
    background-color: var(--primary-color);
}

.sub-title-gutter{
    color: var(--default-color);
    font-weight: bold;
}