.alert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border: .2px solid var(--shadow-color);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    margin: 2rem 0;
}

.primary-alert {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: var(--primary-color);
    border-radius: 7px;
}

.secondary-alert {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: var(--secondary-color);
    border-radius: 7px;
}

.success-alert {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: var(--success);
    border-radius: 7px;
}

.danger-alert {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: var(--danger);
    border-radius: 7px;
}

.warning-alert {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: var(--warning);
    border-radius: 7px;
}